*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-style: white;

}
.home-container{
    display: flex;
    justify-content: space-between;
}


.home-container.card-h-100{
    width: 20px;
    height: 15px;
}
 
/* body{
    background-image: url("/public/images/logo.PNG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    object-fit: contain;

} */
.logo{
    background-image:url("/public/images/logo.PNG");
    width: 500px;
    height: 100rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
body{
    background-color: #e5efef;
}